
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-color:rgb(210,55,55);
    --secondary-color:#e0e0e0;
}

body{
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    background-color: #8BC6EC;
    background: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    
    
}

.container{
    text-align: center;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    min-width:100%;
    width: 350px;
}

.progress-container::before{
    content: "";
    background-color: var(--secondary-color);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress{
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle{
    background-color: #fff;
   color: #999;
   border-radius: 50%;
   width: 30px;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 3px solid var(--secondary-color);
   transition: 0.4s ease;
}

.btn
{
    background-color: var(--primary-color);
    border: 0;
    cursor: pointer;
    color:#fff;
    font-family: inherit;
    padding: 8px 30px;
    margin:5px;
    font-size: 14px;
    cursor: pointer;


}



/* JAVASCRIPT*/

.circle.active{

    border-color: var(--primary-color);

}

.btn.active{

    transform: scale(0.98);

}

.btn.disabled{

    background-color: var(--secondary-color);
    cursor: not-allowed;

}