
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Playfair+Display+SC:ital,wght@0,700;1,900&display=swap');


/* 
font-family: 'Playfair Display SC', serif; */



body{
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
   
    
}

.container{
    
   text-align: center;
   margin: 0 auto;

}
h1{
    color: white ; 
    font-size: 4rem;
    font-family: "Playfair Display SC";
}

p{
    color: white;
    max-width: 700px;
    font-family: sans-serif;
    letter-spacing: 2px;
    line-height: 22px;
    margin-bottom: 40px;
}

button{
    padding: 0;
    margin:0 ;
    border: transparent;
    background: transparent;
    border: 2px solid white;
    padding: 10px 20px ;
    font-weight: bold;
    text-transform: uppercase; 
    color: #fff;
    cursor: pointer;
}

div.cursor{

    position: absolute;
    top :50%;
    left: 50%;
    width: 15px;
    height: 15px;
    background-color: hotpink;
    border-radius: 50%;
    transform: translate(-50% , -50%);


}