*{
    margin: 0;
    padding: 0;
    box-shadow: 'border-box';
    font-family: 'Gilroy';
    color: white;
}

html ,body {

    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: rgb(7, 6, 6);
    position: relative;
}
.elem {
    height: 120px;
    width: 100%;
    /* background-color: cornflowerblue; */
    border-bottom: 3px solid white;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}

.elem h1{
    font-size: 4vw;
    position: relative;
    z-index: 9;
}

.elem img {

    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50% , -50%);
    opacity: 0;
    transition: all linear 0.3s;
}